.sent {
  padding: 0.6rem;
  border: solid 1px grey;
  border-radius: 1.2rem;
  display: block;
  float: left;
  clear: both;
  margin: 0px;
  min-width: 3rem;
}
.recieved {
  padding: 0.6rem;
  border: solid 1px grey;
  border-radius: 1.2rem;
  display: block;
  float: right;
  clear: both;
  margin: 0px;
}
.msgs {
  overflow-y: auto;
}
.input {
  box-sizing: border-box;
  padding: 0.6rem;
  border: solid 1px grey;
  border-radius: 1.2rem;
  width: 80%;
}
.submit {
  box-sizing: border-box;
  padding: 0.6rem;
  border: solid 1px grey;
  border-radius: 1.2rem;
  float: right;
  margin-right: 1.5rem;
}
.form {
  border-top: solid 1px grey;
  position: fixed;
  padding: 0.5rem;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  left: 0px;
}
