.tweet{width:100%; padding:0;margin: 0.5rem 0;padding-bottom: .3rem;margin-bottom: .3rem; border-bottom: 2px solid grey; }

.retweeted{width:100%; display:flex;}
.retweeted-icon{display: inline-block;width:20%;}
.retweeted-icon svg{float:right;}
.retwitted-text{display: inline-block;width:80%;}

.avatar2{width:20%;padding:0px;}
.avatar2 img{border-radius: 50%;
        width:100%;
        height: auto;
        margin:auto;
        padding:0rem;
        border: .3em solid rgba(255, 255, 255, 0.5);}


.content{width:80%;}
.actions{display:flex;justify-content: space-between;}
.tweet-header{display:flex;}