.avatar {
  margin: auto;
  margin-top: 0.7rem;
}
.name {
  margin-top: 0.7rem;
  font-size: large;
}
.handle {
  margin-top: 0.7rem;
  font-size: normal;
  color: darkgray;
}
.text {
  height: 50%;
  border: solid 2px lightgrey;
  resize: none;
  line-height: 120%;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  width: 100%;
  box-sizing: border-box;
}
.text:active {
  border-color: lightblue;
}
