.paper {
    margin-top: 4rem;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
  }
  .avatar {
    margin: 0.5rem;
    background-color: lightblue;
  }
  .form {
    width: '100%'; // Fix IE 11 issue.
    margin-top: 1rem;
  }
  .submit {
    margin: 1.5rem 0 1rem;
  }